@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

html,
body,
#root {
  height: 100%;
  margin: 0;
}

@layer components {
  .toolbar-node.selected {
    @apply ring-2 ring-blue-500;
  }

  .toolbar-node.control-point {
    @apply ring-2 ring-blue-500;
  }

  .toolbar-node.action {
    @apply ring-2 ring-green-500;
  }
}
