@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

html,
body,
#root {
  height: 100%;
  margin: 0;
}

@layer components {
  .toolbar-node {
    @apply ring-4 ring-gray-500/50 bg-white rounded-xl p-4;
  }

  .toolbar-node.selected {
    @apply !ring-gray-500;
  }

  .toolbar-node.control-point {
    @apply ring-4 ring-blue-500/50;
  }

  .toolbar-node.action {
    @apply ring-4 ring-green-500/50;
  }

  .toolbar-node.control-point.selected {
    @apply !ring-blue-500;
  }

  .toolbar-node.action.selected {
    @apply !ring-green-500;
  }
  
  .toolbar-handle {
    @apply w-3 h-3 bg-gray-500 hover:bg-gray-600 transition-colors cursor-crosshair;
  }

  .toolbar-handle.control-point {
    @apply bg-blue-500 hover:bg-blue-600;
  }

  .toolbar-handle.action {
    @apply bg-green-500 hover:bg-green-600;
  }
}
